<header class="header">
  <span class="header-text">Alaska Air - Angular Interview Exercise</span>
</header>

<div class="main">

  <mat-nav-list role="navigation" style="margin-top: 20px !important;">
    <a mat-list-item [routerLink]="'/'" routerLinkActive="active-link">home</a>
    <a mat-list-item [routerLink]="'/flights'" routerLinkActive="active-link">flights module</a>
  </mat-nav-list>

  <router-outlet></router-outlet>

</div>
<footer class="footer">
  Original Repository: <a href="https://github.com/Alaska-ITS/angular-interview-exercise">angular-interview-exercise</a>
</footer>
